.liveDocument {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
    @apply lg:grid-cols-2;
    &__editor {
        @media (max-width: 1024px) {
            height: fit-content;
        }
        padding: 20px;
        padding-top: 90px;
        .fields {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        input {
            border-radius: 6px;
            width: 100%;
        }
    }
    &__body {
        padding: 20px;
        max-height: 100vh;
        padding-top: 90px;
        overflow: auto;
        @apply dark:bg-gray-800 bg-gray-200;
    }
}
