@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    animation: rotate 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
}
.loader-button {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loader circle,
.loader-button circle {
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
#root {
    @apply dark:bg-gray-900;
}
body * {
    transition: background-color 0.3s ease-in-out;
}

.modal {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.modal.open {
    opacity: 1;
    visibility: visible;
}

h1 {
    @apply mb-2 mt-0 md:text-5xl text-4xl font-medium leading-tight;
}
h2 {
    @apply mb-2 mt-0 md:text-4xl text-3xl font-medium leading-tight dark:text-white;
}
h3 {
    @apply mb-2 mt-0 md:text-3xl text-2xl font-medium leading-tight dark:text-white;
}
h4 {
    @apply mb-2 mt-0 md:text-2xl text-xl font-medium leading-tight dark:text-white;
}
h5 {
    @apply mb-2 mt-0 text-xl font-medium leading-tight dark:text-white;
}
h6 {
    @apply mb-2 mt-0 text-base font-medium leading-tight dark:text-white;
}

.container {
    @apply mx-auto max-w-screen-xl md:px-4 px-2;
}
.with-aside {
    grid-template-columns: 1fr 420px;
}

@media (max-width: 992px) {
    .with-aside {
        grid-template-columns: 1fr 320px;
    }
}
@media (max-width: 767px) {
    .with-aside {
        grid-template-columns: 1fr;
        padding: 30px 15px;
    }
}
.with-aside form {
    padding-bottom: 30px;
}

aside.legend h3,
aside.legend p {
    color: #fff;
}

aside ul li {
    margin-bottom: 6px;
    list-style: disc;
    color: #fff;
}
aside ul {
    padding-left: 10px;
    margin: 8px 0;
}

aside.legend h3 {
    @apply font-semibold text-xl mb-2;
}

.pg-viewer-wrapper {
    margin-bottom: 10px;
    width: 100%;
    max-height: 75vh;
}

aside.legend p:not(:last-child) {
    margin-bottom: 10px;
}
aside.legend {
    width: 100%;
}

.modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}

.document-container {
    width: 100% !important;
}

@layer base {
    .modal {
        @apply fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 bg-black bg-opacity-30 h-full;
    }
    .input-style {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    .input-style__icon {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    .button-primary {
        @apply inline-flex gap-2 items-center bg-indigo-600 sm:px-5 px-2 py-2 rounded-lg text-white hover:bg-transparent hover:bg-indigo-700 transition-all active:bg-indigo-800 disabled:bg-indigo-900 disabled:cursor-not-allowed disabled:bg-opacity-90;
    }
    .auth-input {
        @apply w-full rounded-lg border-gray-200 p-3 pr-12 text-sm shadow-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    .form-label {
        @apply flex flex-col gap-1 w-full text-sm font-medium text-gray-700 dark:text-white;
    }
    .role-dropdown {
        @apply absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white dark:bg-gray-600 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
    }
    .role-dropdown__item {
        @apply text-gray-900 relative cursor-pointer select-none py-2 pl-3 pr-9 hover:bg-purple-700 dark:hover:bg-indigo-600 hover:bg-opacity-5 dark:text-white;
    }
}

.loader {
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
